<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>2.89.4</version>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>2</int>
          <string>JENKINS_MASTER_URL</string>
          <string>https://jenkins-redhat-multiarch-qe.10.8.245.175.xip.io</string>
          <string>JSWARM_EXTRA_ARGS</string>
          <string>-tunnel 10.8.245.175:30000</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>
